<div class="surface-border border-1 border-round-2xl p-3">
    <p-scrollPanel class="flex h-20rem md:h-30rem" styleClass="w-full">
        <ul class="list-none p-0 m-0">
            <li *ngFor="let meal of meals" [routerLink]="'/details/'+meal.idMeal"
                class="flex align-items-center justify-content-between pb-2 pt-2 border-bottom-1 surface-border cursor-pointer">
                <div class="flex-1 flex gap-3">
                    <img class="border-circle" [src]="meal.strMealThumb" style="width: 45px; height: 45px" />
                    <div>
                        <span class="block text-900 font-medium mb-1">
                            {{meal.strMeal}}
                        </span>
                        <div class="text-600">
                            {{meal.strCategory}}
                        </div>
                    </div>
                </div>
                <div class="flex-none flex flex-nowrap">
                    <i class="pi pi-angle-right"></i>
                </div>
            </li>
        </ul>
    </p-scrollPanel>
</div>